@charset "UTF-8";
/* RESET All ELEMENT */
html, body, div, span, table, caption, tbody, tfoot, thead, tr, th, td, font, img, small, strong, sub, sup, p, a, dl, dt, dd, ol, ul, li, form, label {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* SPECIAL RESET */
ol, ul {
  list-style: none;
}

/*th,td{font-weight:normal;text-align:left;}*/
table {
  border-collapse: separate;
  border-spacing: 0;
}

:focus {
  outline: none;
}

/*============================================
=                    Base                    =
============================================*/
html * {
  max-height: 1000000px;
  /*-webkit-text-size-adjust: 100%;*/
}

a {
  color: #535353;
  text-decoration: none;
}

a, area {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
}

img {
  vertical-align: top;
}

/*iframeRwd*/
/*=============================================
=                    base                     =
=============================================*/
body {
  font: normal 12px/18px Arial,'Microsoft JhengHei','微軟正黑體';
  color: #fff;
}

input, select, textarea {
  font: normal 12px/18px Arial,'Microsoft JhengHei','微軟正黑體';
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

a {
  color: #fff;
  text-decoration: none;
}

body, html {
  height: 100%;
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
  z-index: 0;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*=============================================
=                  All setting               =
=============================================*/
/*=============================================
=                 Structural                  =
=============================================*/
.wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  display: block;
  text-align: center;
  background: #fff;
}

.pcShow {
  display: block;
}

.mShow {
  display: none;
}

.clear {
  clear: both;
}

/*=============================================
=                    header                  =
=============================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 57px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);
}

.header .block {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .block .box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.header .block .logo {
  width: 10%;
  float: left;
  left: 3%;
}

.header .block .logo .img {
  width: 60px;
  height: 37px;
  background: url(../img/b_logo.svg) 50% 50% no-repeat;
  background-size: 100% auto;
}

.header .block .pcNav {
  width: 60%;
  float: right;
  right: 3%;
  text-align: right;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .block .pcNav .sub {
  position: relative;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  border-bottom: 1px solid #524646;
  padding-bottom: 5px;
  margin: 0 2%;
  color: #524646;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .block .pcNav .sub:hover {
  font-weight: bold;
  -webkit-transition: all .7s;
  transition: all .7s;
}

/*=============================================
=                     index                   =
=============================================*/
.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.main .btn {
  position: relative;
  display: inline-block;
  padding: 12px 28px;
  font-size: 14px;
  letter-spacing: 2px;
  background: #242c5f;
  margin: 40px;
}

.main .btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 77%;
  border: 1px solid #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .kv {
  position: relative;
  width: 100%;
  height: auto;
}

.main .kv .block {
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1100px;
}

.main .kv .block .item {
  position: relative;
  text-align: left;
}

.main .kv .block .item .title {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.7);
  border-bottom-right-radius: 70px;
  padding: 60px 40px 30px;
}

.main .kv .block .item .title h2, .main .kv .block .item .title h3 {
  line-height: 1;
  letter-spacing: 2px;
}

.main .kv .block .item .title h2 {
  font-size: 42px;
  color: #000;
  margin: 0;
}

.main .kv .block .item .title h3 {
  font-size: 32px;
  color: #4c86ed;
  margin: 15px auto;
}

.main .kv .block .item .title h3:after {
  content: '';
  display: block;
  position: absolute;
  top: 68%;
  right: 10%;
  width: 19%;
  height: 3px;
  background: #000;
  display: inline-block;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .kv .block .dec {
  display: block;
  position: absolute;
  bottom: -77px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main .kv .block .dec span {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: block;
  margin: 15px auto;
}

.main .kv .block .dec span:nth-child(1) {
  background: #fff;
}

.main .kv .block .dec span:nth-child(2) {
  background: #d2a53d;
}

.main .kv .block .dec span:nth-child(3) {
  background: #4c86ed;
}

.main .page {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 70px 0;
}

.main .page .block {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.main .page .title {
  position: relative;
  font-size: 24px;
  color: #242c5f;
  letter-spacing: 3px;
  line-height: 1.7;
  font-weight: bold;
}

.main .page .title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 30px;
  height: 3px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #99b7ec;
}

.main .step {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 70px 0;
}

.main .step .block {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.main .step .title {
  position: relative;
  font-size: 24px;
  color: #d2a53d;
  letter-spacing: 3px;
  line-height: 1.7;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main .step .title .tagline {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.main .step .title .tagline:before, .main .step .title .tagline:after {
  content: '';
  display: block;
  position: absolute;
  top: 68%;
  width: 19%;
  height: 3px;
  background: #000;
  display: inline-block;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .step .title .tagline:before {
  left: 55px;
}

.main .step .title .tagline:after {
  right: 0;
}

.main .step .title h4 {
  color: #d2a53d;
  font-size: 24px;
  line-height: 1.5;
  margin: 10px auto;
}

.main .step .title p {
  font-size: 18px;
  color: #524646;
  line-height: 1.5;
}

.main .txtDec {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding: 150px 0 70px;
}

.main .txtDec .txt {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  margin: 0 auto;
  padding: 40px;
  background: #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .txtDec .txt:before, .main .txtDec .txt:after {
  content: '';
  display: block;
  position: absolute;
  width: 65px;
  height: 60px;
}

.main .txtDec .txt:before {
  top: 120px;
  left: -30px;
  background: url(../img/dec1.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.main .txtDec .txt:after {
  bottom: 50px;
  right: -30px;
  background: url(../img/dec2.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.main .txtDec .txt span {
  color: #939393;
  letter-spacing: 2px;
}

.main .page1 {
  background-attachment: fixed;
  background: url(../img/page1_bg1.png) 50% 50% no-repeat;
  background-attachment: fixed;
  background-position: top left;
}

.main .page1 .contBox {
  position: relative;
  margin: 50px auto;
  max-width: 1000px;
}

.main .page1 .contBox .box {
  position: relative;
  float: left;
  width: 27%;
  margin: 0 3%;
  border: 2px solid #242c5f;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
}

.main .page1 .contBox .box .icon {
  position: relative;
  width: 90px;
  height: 40px;
  margin: 20px auto;
}

.main .page1 .contBox .box .shop {
  position: relative;
  color: #242c5f;
  line-height: 1.5;
}

.main .page1 .contBox .box .shop .bs {
  position: relative;
  font-size: 12px;
  width: 80px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.main .page1 .contBox .box .shop .bs:before, .main .page1 .contBox .box .shop .bs:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 1px;
  background: #242c5f;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: inline-block;
}

.main .page1 .contBox .box .shop .bs:before {
  left: 5px;
}

.main .page1 .contBox .box .shop .bs:after {
  right: -5px;
}

.main .page1 .contBox .box .shop .bn {
  font-size: 18px;
}

.main .page1 .contBox .box .dec {
  font-size: 14px;
  line-height: 1.5;
  padding: 20px 20px 10px;
  color: #3d3d3d;
  text-align: left;
}

.main .page1 .contBox .box[data-cont="cont1"] .icon {
  background: url(../img/page_icon1.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.main .page1 .contBox .box[data-cont="cont2"] .icon {
  background: url(../img/page_icon2.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.main .page1 .contBox .box[data-cont="cont3"] .icon {
  background: url(../img/page_icon3.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.main .page1 .contBox .box .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 44, 95, 0.9);
  display: none;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.main .page1 .contBox .box .overlay .txt {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}

.main .page1 .contBox .box .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 93%;
  height: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #fff;
}

.main .page1 .contBox .box:hover .overlay {
  -webkit-transition: all 3s;
  transition: all 3s;
  display: block;
  -webkit-animation: opacityShow .8s ease-in-out;
          animation: opacityShow .8s ease-in-out;
}

@-webkit-keyframes opacityShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main .page2 {
  background: rgba(153, 183, 236, 0.2);
  height: 600px;
}

.main .page2 .swiper-container1 {
  margin: 70px auto;
}

.main .page2 .swiper-container1 .swiper-slide {
  width: 70%;
  height: 450px;
  background: #fff;
  opacity: .5;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main .page2 .swiper-container1 .swiper-slide .slide-title {
  position: relative;
  margin: 0 auto;
  color: #524646;
  font-size: 18px;
  background: #d2a53d;
  margin: 20px auto;
  line-height: 1.8;
  display: inline-block;
  padding: 5px 25px;
  letter-spacing: 2px;
}

.main .page2 .swiper-container1 .swiper-slide .slide-title span {
  font-size: 24px;
  color: #fff;
  display: block;
}

.main .page2 .swiper-container1 .swiper-slide .slide-title b {
  color: #000;
  margin: 0 5px;
}

.main .page2 .swiper-container1 .swiper-slide .chart {
  position: relative;
  padding: 50px 40px;
}

.main .page2 .swiper-container1 .swiper-arrow-box {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.main .page2 .swiper-container1 .swiper-button-prev {
  width: 21px;
  height: 48px;
  background: url(../img/arrow1.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.main .page2 .swiper-container1 .swiper-button-next {
  width: 21px;
  height: 48px;
  background: url(../img/arrow2.png) 50% 50% no-repeat;
  background-size: 100% auto;
}

.main .page2 .swiper-container1 .swiper-pagination-bullet {
  border: 1px solid #4c86ed;
  background: transparent;
  opacity: .7;
}

.main .page2 .swiper-container1 .swiper-pagination-bullet-active {
  background: #4c86ed;
}

.main .page2 .swiper-container1 .swiper-slide-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main .page2 .swiper-container1 .legendPlaceholder {
  margin: 60px auto;
}

.main .page2 .swiper-container1 .flotcontainer {
  width: 350px;
  height: 200px;
  vertical-align: middle;
  margin: 0 auto;
}

.main .page2 .swiper-container1 .legendLabel, .main .page2 .swiper-container1 .legendColorBox {
  vertical-align: middle;
  text-align: left;
}

.main .step1 {
  background: url(../img/step_dec1.png) left 50% no-repeat;
}

.main .step1 .contBlock {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.main .step1 .contBlock .box {
  position: relative;
  width: 35%;
  margin: 0 2.5%;
  float: left;
}

.main .step1 .contBlock .box.dec {
  width: 50%;
}

.main .step1 .contBlock .box .digiBox {
  position: relative;
  width: 150px;
  margin: 0 auto;
}

.main .step1 .contBlock .box .digiBox .sub {
  position: relative;
  display: block;
  color: #fff;
  font-size: 18px;
  margin: 50px auto;
  padding: 12px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 2px;
}

.main .step1 .contBlock .box .digiBox .sub:nth-child(1) {
  background: rgba(76, 134, 237, 0.5);
}

.main .step1 .contBlock .box .digiBox .sub:nth-child(2) {
  background: rgba(76, 134, 237, 0.7);
}

.main .step1 .contBlock .box .digiBox .sub:nth-child(3) {
  background: #4c86ed;
}

.main .step1 .contBlock .box .digiBox .sub:nth-child(1):after, .main .step1 .contBlock .box .digiBox .sub:nth-child(2):after {
  content: '';
  display: block;
  position: absolute;
  bottom: -35px;
  left: 40%;
  width: 3px;
  height: 20px;
  background: #242c5f;
}

.main .step1 .contBlock .box .txt {
  position: relative;
  color: #3d3d3d;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin: 40px auto;
}

.main .step1 .contBlock .box .txt h5 {
  color: #242c5f;
  font-size: 24px;
  margin: 5px 0 15px;
  text-align: right;
}

.main .step1 .contBlock .box .txt .img {
  position: relative;
  margin: -80px auto;
  text-align: right;
  pointer-events: none;
}

.main .step1 .contBlock .box .txt .img img {
  max-width: 365px;
}

.main .stepDec {
  background-attachment: fixed;
  background: url(../img/page2_bg.png) 50% 50% no-repeat;
  background-attachment: fixed;
}

.main .step2 {
  background: url(../img/step_dec2.png) right 50% no-repeat;
}

.main .step2 .contBlock .timeline {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.main .step2 .contBlock .timeline .year {
  position: relative;
  margin: 50px auto 0;
}

.main .step2 .contBlock .timeline .year:before {
  content: '';
  position: relative;
  display: block;
  width: 3px;
  height: 40px;
  background: #d2a53d;
  margin: 10px auto 10px;
}

.main .step2 .contBlock .timeline p {
  font-size: 15px;
  color: #3d3d3d;
  line-height: 1.5;
}

.main .step2 .contBlock .timeline p b {
  color: #d2a53d;
  font-size: 18px;
  margin: 0 5px;
}

.main .step2 .contBlock .dec {
  position: absolute;
}

.main .step2 .contBlock .dec1 {
  top: 230px;
  right: 0;
}

.main .step2 .contBlock .dec2 {
  bottom: -25px;
  left: 0;
}

.main .step3 {
  padding-bottom: 0;
  background: url(../img/step_dec1.png) left 50% no-repeat;
}

.main .step3 .contBlock {
  position: relative;
  margin: 70px auto;
  max-width: 1000px;
}

.main .step3 .contBlock .cont {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.main .step3 .contBlock .cont .subTitle {
  position: relative;
  font-size: 24px;
  color: #242c5f;
  letter-spacing: 3px;
  line-height: 1.7;
  font-weight: bold;
  margin: 0 auto;
}

.main .step3 .contBlock .cont .subTitle:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 30px;
  height: 3px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #99b7ec;
}

.main .step3 .contBlock .cont .chart {
  padding: 20px;
  margin: 20px auto;
}

.main .step3 .contBlock .cont .box {
  position: relative;
  margin: -80px auto;
}

.main .step3 .contBlock .cont .box:nth-child(2) {
  margin: 10px auto -80px;
}

.main .step3 .contBlock .cont .box .sub {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.main .step3 .contBlock .cont .box .img {
  width: 30%;
}

.main .step3 .contBlock .cont .box .img.pcShow {
  display: inline-block;
}

.main .step3 .contBlock .cont .box .img.mShow {
  display: none;
}

.main .step3 .contBlock .cont .box .img .mode {
  position: relative;
  display: inline-block;
  bottom: 40px;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  background: #d2a53d;
  padding: 7px 15px;
  letter-spacing: 5px;
  margin: 0 auto;
}

.main .step3 .contBlock .cont .box .img .mode:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 93%;
  height: 86%;
  border: 1px solid #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .step3 .contBlock .cont .box .txt {
  width: 65%;
  font-size: 18px;
  vertical-align: middle;
  color: #000;
  text-align: left;
  line-height: 1.5;
  margin-left: 3%;
}

.main .step3 .contBlock .cont .box .txt span {
  color: #d2a53d;
  font-size: 22px;
  margin: 0 5px;
}

.main .step3 .contBlock .cont .pie {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 100px auto 30px;
}

.main .step3 .contBlock .cont .txt {
  position: relative;
  font-size: 18px;
  color: #524646;
  line-height: 1.5;
  margin: 40px auto;
}

.main .page3 {
  background: rgba(153, 183, 236, 0.2);
}

.main .page3 .title {
  margin-top: 40px;
}

.main .page3 .title:before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  width: 52px;
  height: 31px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/step_dec3.png) 50% 50% no-repeat;
}

.main .page3 .txt {
  position: relative;
  font-size: 18px;
  color: #524646;
  line-height: 1.5;
  margin: 40px auto;
  max-width: 900px;
  width: 90%;
  text-align: left;
}

.goTop {
  position: fixed;
  right: 2%;
  bottom: 10%;
  width: 65px;
  height: 59px;
  background: url(../img/btn1.png) 50% 50% no-repeat;
  background-size: 100% auto;
  z-index: 10;
  display: none;
}

.goTop.on {
  display: block;
  -webkit-animation: gotop .7s;
          animation: gotop .7s;
}

@-webkit-keyframes gotop {
  0% {
    bottom: 8%;
    opacity: 0;
  }
  100% {
    bottom: 10%;
    opacity: 1;
  }
}

@keyframes gotop {
  0% {
    bottom: 8%;
    opacity: 0;
  }
  100% {
    bottom: 10%;
    opacity: 1;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px 0;
  background: #242c5f;
  letter-spacing: 2px;
}

.footer .block {
  font-size: 12px;
  color: #a09c9c;
}

.clear {
  clear: both;
}

/*=============================================
=                    footer                  =
=============================================*/
/*=============================================
=                    popup                   =
=============================================*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -99;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  -webkit-transition: z-index 0s,visibility 0s,opacity 0s;
  transition: z-index 0s,visibility 0s,opacity 0s;
}

.popup.on {
  opacity: 1;
  visibility: visible;
  z-index: 9;
  -webkit-transition: z-index 0s,visibility 0.5s,opacity 1s;
  transition: z-index 0s,visibility 0.5s,opacity 1s;
}

.popup .popWrap {
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background: rgba(255, 183, 27, 0.5);
}

.popup .popWrap:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.popup .popCon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
}

.popup .popCon .xBtn {
  display: block;
  position: absolute;
  top: -11px;
  right: -11px;
  width: 30px;
  height: 30px;
  display: block;
  background: #d2a53d;
  z-index: 2;
  border-radius: 30px;
}

.popup .popCon .xBtn:before, .popup .popCon .xBtn:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 14px;
  width: 3px;
  height: 18px;
  background: #fff;
  display: inline-block;
}

.popup .popCon .xBtn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popCon .xBtn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .contBox {
  position: relative;
  width: 400px;
  height: auto;
  background: #fff;
  border-radius: 13px;
  border: 5px solid #d2a53d;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*=============================================
=                     RWD                   =
=============================================*/
@media screen and (max-width: 1100px) {
  .main .btn {
    font-size: 18px;
    padding: 18px 40px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .main .kv {
    padding-top: 57px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .main .kv .block {
    top: 75%;
  }
  .main .kv .block .item .title {
    max-width: 500px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .main .kv .block .item .title h2 {
    font-size: 36px;
  }
  .main .kv .block .item .title h3 {
    font-size: 24px;
  }
  .main .txtDec {
    max-width: 500px;
  }
  .main .txtDec .txt {
    padding: 60px 40px;
  }
  .main .page1 .contBox .box {
    width: 30%;
    margin: 0 1.5%;
    min-height: 330px;
  }
  .main .page1 .contBox .box .dec {
    padding: 20px 0 10px;
  }
  .main .step2 .contBlock .dec {
    opacity: .2;
  }
  .main .step3 .contBlock .cont .box {
    margin: 0 auto;
  }
  .main .step3 .contBlock .cont .box:nth-child(2) {
    margin: 30px auto 0;
  }
  .main .page3 .txt {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .pcShow {
    display: none;
  }
  .mShow {
    display: block;
  }
  .header .block .logo {
    z-index: 9;
  }
  .header .block .pcShow {
    display: none;
  }
  .header .block .mbNavBtn {
    display: block;
    position: absolute;
    top: 13px;
    right: 15px;
    width: 40px;
    height: 30px;
    z-index: 9;
  }
  .header .block .mbNavBtn span {
    display: block;
    position: absolute;
    top: 15px;
    width: 40px;
    height: 3px;
    background: #d2a53d;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .header .block .mbNavBtn span:nth-child(1) {
    top: 5px;
  }
  .header .block .mbNavBtn span:nth-child(3) {
    top: 25px;
  }
  .header .block .mbNavBtn.on {
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .header .block .mbNavBtn.on span {
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .header .block .mbNavBtn.on span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .block .mbNavBtn.on span:nth-child(2) {
    opacity: 0;
  }
  .header .block .mbNavBtn.on span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .navList {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/page2_bg.png) right bottom no-repeat rgba(36, 44, 95, 0.9);
    padding: 100px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 8;
    display: none;
  }
  .header .navList.on {
    display: block;
    -webkit-animation: navOpen .7s;
            animation: navOpen .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
  }
  @-webkit-keyframes navOpen {
    0% {
      top: -300px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes navOpen {
    0% {
      top: -300px;
    }
    100% {
      top: 0;
    }
  }
  .header .navList .sub {
    position: relative;
    font-size: 36px;
    line-height: 1.5;
    display: block;
    margin: 50px auto;
    text-align: center;
    letter-spacing: 5px;
  }
  .header .navList .sub:before, .header .navList .sub:after {
    content: '';
    position: relative;
    width: 10px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 0 auto;
  }
  .header .navList .sub:before {
    margin-top: 5px;
  }
  .header .navList .sub:after {
    margin-bottom: 5px;
  }
  .main .btn {
    margin: 40px auto;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .main .kv .block {
    top: 73%;
  }
  .main .kv .block .item .title {
    text-align: center;
    padding: 40px 0;
    background: rgba(255, 255, 255, 0.9);
  }
  .main .kv .block .item .title h2 {
    font-size: 26px;
  }
  .main .kv .block .item .title h3 {
    font-size: 18px;
  }
  .main .kv .block .item .title h3:after {
    display: none;
  }
  .main .kv .block .dec {
    bottom: -100px;
  }
  .main .txtDec {
    max-width: 320px;
    text-align: left;
  }
  .main .page .title span {
    display: block;
  }
  .main .step .block {
    max-width: 500px;
  }
  .main .step .title p {
    width: 80%;
    margin: 0 10%;
  }
  .main .page1 .contBox {
    max-width: 500px;
  }
  .main .page1 .contBox .box {
    width: 80%;
    margin: 5% 10%;
    padding: 5% 10%;
  }
  .main .page1 .contBox .box:hover .overlay {
    display: none;
  }
  .main .page1 .contBox .box .shop .bn {
    font-size: 32px;
  }
  .main .page1 .contBox .box .shop .bs {
    font-size: 16px;
  }
  .main .page1 .contBox .box .dec {
    font-size: 18px;
  }
  .main .page2 .swiper-container1 .swiper-arrow-box {
    display: none;
  }
  .main .page2 .swiper-container1 .swiper-slide .chart {
    padding: 0;
  }
  .main .step1 .contBlock .box {
    width: 100%;
    margin: 0;
  }
  .main .step1 .contBlock .box .digiBox .sub {
    font-size: 24px;
    line-height: 2;
  }
  .main .step1 .contBlock .box.dec {
    width: 80%;
    margin: 0 10%;
  }
  .main .step1 .contBlock .box .txt h5 {
    text-align: center;
  }
  .main .step1 .contBlock .box .txt .img {
    max-width: 100%;
    margin: -30px auto;
  }
  .main .step2 .contBlock .timeline {
    width: 70%;
    text-align: center;
    background: #fff;
    padding: 5px 40px 30px;
    margin: 40px auto;
  }
  .main .step2 .contBlock .dec1 {
    top: 400px;
  }
  .main .step2 .contBlock .dec2 {
    bottom: -250px;
  }
  .main .step3 .contBlock .cont {
    width: 90%;
  }
  .main .step3 .contBlock .cont .chart {
    width: 400px;
    padding: 0;
    margin: 40px auto;
  }
  .main .step3 .contBlock .cont .chart.pcShow {
    display: none;
  }
  .main .step3 .contBlock .cont .chart.mShow {
    display: block;
  }
  .main .step3 .contBlock .cont .box {
    margin: 50px auto;
  }
  .main .step3 .contBlock .cont .box .img {
    width: 50%;
  }
  .main .step3 .contBlock .cont .box .img.pcShow {
    display: none;
  }
  .main .step3 .contBlock .cont .box .img.mShow {
    display: block;
    margin: 0 auto;
  }
  .main .step3 .contBlock .cont .box .txt {
    width: 80%;
    margin: 0 10%;
  }
  .main .step3 .contBlock .cont .subTitle span {
    display: block;
  }
  .main .step3 .contBlock .cont .txt {
    width: 80%;
  }
  .main .page3 .txt {
    max-width: 500px;
    width: 70%;
    margin: 40px 15%;
  }
}

@media screen and (max-width: 375px) {
  .main .page .title {
    font-size: 18px;
  }
  .main .step .title h4 {
    font-size: 20px;
  }
  .main .step .title p {
    font-size: 14px;
  }
  .main .step1 .contBlock .box .txt h5 {
    font-size: 18px;
  }
  .main .step1 .contBlock .box.dec {
    width: 88%;
    margin: 0 6%;
  }
  .main .step3 .contBlock .cont .subTitle {
    font-size: 18px;
  }
}
/*# sourceMappingURL=layout.css.map */